.DS_Store
.vite-ssg-dist
.vite-ssg-temp
*.local
dist
dist-ssr
node_modules
.idea/
*.log
*.lock
pnpm-lock.yaml
_app/dist
serverless/api/renderer
serverless/public
auto-imports.d.ts
components.d.ts
BACKUP