$color-black: #000;
$color-white: #fff;

$color-blue-200: #708090ff;
$color-blue-400: #3d4654;
$color-blue-500: #353c48;
$color-blue-600: #323844;
$color-blue-700: #2a303a;

$color-gray-200: #fafafa;
$color-gray-300: #dedede;
$color-gray-400: #a9a9a9ff;
$color-gray-600: #7c7c7c;
$color-gray-700: #646464;
